body {
    margin: 0;
    padding: 0;
    font-family: Candara, sans-serif;
    background-color: #fbf0ff;
    min-height: 100vh;
  }

h1 {
  font-size: 70px;
  margin-left:30px;
  margin-top: 50px;
  text-align: center;
}

.formulario {
  background: #fcf5ff;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: 450px;
  margin-top: 70px;
}

.input-group {
  position: relative;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 15px 55px;
  border: none;
  border-radius: 25px;
  background: #cef1ff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  box-sizing: border-box;
}

.input-group input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.input-group .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.btn {
  background: #ffbcfc;
  color: rgb(0, 0, 0);
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  min-width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
  margin-left: 95px;
}

.btn.glow {
  box-shadow: 0px 0px 15px #884b85;
}

.btn:hover {
  background: #e07ddb;
  transform: translateY(-2px);
  box-shadow: 0 0 20px #884b85;
}

.botao {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}