@charset "UTF-8";

body {
  margin: 0 auto;
  font-family: "Candara", sans-serif;
  background-color: #fbf0ff; 
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-voltar {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 8px 15px;
  background-color: #7076c9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-voltar:hover {
  background-color: #4c52a7;
}

header{  
  height:150px;
  background-color:#85ccea;
  border-radius: 50px;
  width: 1090px;
  text-align: center;         
  margin: 25px auto;
 }

header h1{
  text-align: center; 
  float: left;
  margin: 50px 450px 50px;
  font-size: 50px;
  color:#4a3092;
 }

#modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.5);
    }

    #modal-content {
      background-color: #ffffff;
      margin: 5% auto;
      padding: 10px 20px;
      border-radius: 8px;
      width: 60%;
      max-width: 800px;
      max-height: 70vh;
      overflow-y: auto;
      border: 15px solid #87ceeb; /* nova borda */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra opcional para destacar */
      }

#close-modal {
      float: right;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }

#modal-body img {
      float: left;
      margin-right: 20px;
      max-width: 200px;
      height: auto;
      border-radius: 8px;
    }

#modal-body {
      overflow: hidden;
    }

#modal-body p {
      text-align: justify;
      line-height: 1;
      max-width: 720px; 
      margin: 10 auto; 
    }

#modal-body ul {
    margin-top: 0;
    padding-left: 20px;
    margin-left: 10px;
    } 

#modal-body h3 {
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 600px;
    }

#search-bar {
  display: flex;
  justify-content: flex-start;  /* Alinha o conteúdo no lado esquerdo */
  margin: 20px 0;
  padding-left: 40px;  /* Espaçamento da borda esquerda */
}

#search-input {
  padding: 8px 12px;
  width: 300px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px; /* se quiser afastar do ícone */
}


a  {
  color: #000000;
  text-decoration: none;
}

tr:nth-child(even) td {
  background-color: #abddf1;
}

th, td {
  padding: 12px;
  border: 1px solid #c0e2f2;
}

th {
  background-color: #87ceeb;
}

td {
  background-color: #ceeffc;
}

table {
  width: 90%;               /* Reduz a largura */
  margin: 20px auto;        /* Centraliza a tabela */
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 40px;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 0px;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
}

#search-input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* espaço para o ícone à esquerda */
  border-radius: 25px;
  border: 1px solid #85ccea;
  background-color: #cef1ff;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
}

