@charset "UTF-8";

/*CONFIGURAÇÃO GERAL*/
body{
    margin:0px auto;
	 font-family:"Candara",sans-serif;
	 background:rgb(255, 255, 255);
   background-color: #fbf0ff; 
   background-repeat: no-repeat;
   background-size: cover;
  }

  .btn-voltar {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 8px 15px;
    background-color: #7076c9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .btn-voltar:hover {
    background-color: #4c52a7;
  }  

/*CABEÇALHO*/
header{  
    height:150px;
    background-color:#85ccea;
    border-radius: 50px;
    width: 1090px;
    text-align: center;         
    margin: 25px auto;
   }

header h1{
        text-align: center; 
        float: left;
        margin: 36px 250px 30px;
        font-size: 50px;
        color:#4a3092;
       }
    
/*TABELA*/
#modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.5);
           }
       
#modal-content {
   background-color: #fff;
   margin: 5% auto;
   padding: 10px 20px;
   border-radius: 8px;
   width: 60%;
   max-width: 800px;
   max-height: 70vh;
   overflow-y: auto;
       }
       
       
       #close-modal {
             float: right;
             font-size: 20px;
             font-weight: bold;
             cursor: pointer;
           }
       
       #modal-body img {
             float: left;
             margin-right: 20px;
             max-width: 200px;
             height: auto;
             border-radius: 8px;
           }
       
       #modal-body {
             overflow: hidden;
           }
       
       #modal-body p {
             text-align: justify;
             line-height: 1;
             max-width: 720px; 
             margin: 10 auto; 
           }
       
       #modal-body ul {
           margin-top: 0;
           padding-left: 20px;
           margin-left: 10px;
           } 
       
       #modal-content {
           background-color: #ffffff;
           margin: 5% auto;
           padding: 10px 20px;
           border-radius: 8px;
           width: 60%;
           max-width: 1000px;
           max-height: 70vh;
           overflow-y: auto;
           border: 15px solid #87ceeb; /* nova borda */
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra opcional para destacar */
           }
       
       h2 {
           text-align: center;
           margin: 50 auto 20px auto;
           max-width: 6000px;
           color: #2b9cd4;
           font-size: 40px;
           }
       
       #modal-body h3 {
           text-align: center;
           font-size: 25PX;
           margin: 0 auto 20px auto;
           max-width: 600px;
           }
       
       #search-bar {
         display: flex;
         justify-content: flex-start;  /* Alinha o conteúdo no lado esquerdo */
         margin: 20px 0;
         padding-left: 40px;  /* Espaçamento da borda esquerda */
       }
       
       #search-input {
         padding: 8px 12px;
         width: 300px;
         font-size: 16px;
         border-radius: 4px;
         border: 1px solid #ccc;
         margin-left: 10px; /* se quiser afastar do ícone */
       }
       
       
       a {
         color: #000000;
         text-decoration: none;
       }
       
       
       tr:nth-child(even) td {
         background-color: #abddf1;
       }
       
       th, td {
         padding: 12px;
         border: 1px solid #c0e2f2;
       }
       
       th {
         background-color: #87ceeb;
       }
       
       td {
         background-color: #ceeffc;
       }
       
       table {
         width: 90%;               /* Reduz a largura */
         margin: 20px auto;        /* Centraliza a tabela */
         border-collapse: collapse;
         border-radius: 12px;
         overflow: hidden;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         font-size: 18px;
         text-align: center;
         text-decoration: none;
       }
       
       #search-conteiner {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         margin-left: 30px; /* distância da borda esquerda */
         margin-top: 20px;
         margin-bottom: 20px;
         font-size: 24px;
         color: #555;
         margin-right: 10px; /* espaço entre ícone e campo de busca */
       }

/*CAMPO DE INSERIR DADOS*/

/*CAMPOS DO TIPO TEXTO*/
input[type="text"] {
    width: 350px;             /* Largura do campo */
    padding: 10px;            /* Espaçamento interno */
    font-size: 16px;          /* Tamanho da fonte */
    display: block;           /* Faz o rótulo ocupar uma linha inteira, garantindo que fique acima do campo */
    margin-bottom: 10px;
    border: 2px solid #bbe2f1; /* Cor da borda */
    border-radius: 20px;      /* Bordas arredondadas */
    background-color: #f0f8ff; /* Cor de fundo */
    color: #000000;              /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para o foco */
  }
  
/*CAMPOS DO TIPO NUMERO*/
  input[type="date"] {
    width: 120px;             /* Largura do campo */
    padding: 10px;            /* Espaçamento interno */
    font-size: 16px;          /* Tamanho da fonte */      
    border: 2px solid #bbe2f1; /* Cor da borda */
    border-radius: 20px;      /* Bordas arredondadas */
    background-color: #f0f8ff; /* Cor de fundo */
    color: #000000;              /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para o foco */
  }

/*MOSTRA OS EMPRESTIMO EM ATRASO*/
  input.atrasado {
    color: red;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(250, 231, 231);
    font-weight: bold;
  }
  
  /*BOTÕES DE RENOVAR E DEVOLVIDO*/
  .btn {
    background: #ffbcfc;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border: none;
    border-radius: 25px;  
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 10px;
  }

  .linha-dupla {
    display: flex;
    gap: 70px; /* espaçamento entre os campos */
    justify-content: space-between;
  }
  
  .linha-dupla .input-group {
    flex: 1;
  }
  
  .btn.glow {
    box-shadow: 0px 0px 15px #884b85;
  }
  
  .btn:hover {
    background: #e07ddb;
    transform: translateY(-2px);
    box-shadow: 0 0 10px #884b85;
  }
  
  .botao {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .atrasado {
    color: red;
    font-weight: bold;
  }



/* BARRA DE PESQUISA */
#search-bar {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  padding-left: 40px;
}

#search-input {
  padding: 8px 12px;
  width: 300px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 40px 10px;
  font-size: 18px;
  color: #333;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 0px;
}

.input-wrapper .icon {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
}

#search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 25px;
  border: 1px solid #79bcd8;
  background-color: #cef1ff;
  font-size: 16px;
  color: #000000;
  box-sizing: border-box;
}
  
  
  